[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "tclap"]
	path = tclap
	url = git://git.code.sf.net/p/tclap/code
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
