[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "tclap"]
	path = tclap
	url = git://git.code.sf.net/p/tclap/code
[submodule "gui/QCustomPlot"]
	path = gui/QCustomPlot
	url = https://gitlab.com/DerManu/QCustomPlot.git
